<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="CheatSheets__" connectionString="Data Source=test.db;Version=3;New=True"/>
        <add name="CheatSheets" connectionString="Data Source=.\sql2008;Initial Catalog=bhedge;User ID=six29admin;Password=629admin;" />

    </connectionStrings>

    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0"/>
    </startup>
</configuration>